
.idea/


node_modules/
vendor/
__pycache__/
*.pyc
.env
.env.local
.env.production


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db


dist/
build/
*.egg-info/
*.egg


*.key
*.pem
secrets.json
config.local.php